<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">

    <a class="navbar-brand js-scroll-trigger" href="home#page-top"><img height="40" width="auto"
                                                                    src="assets/img/skills/logo1.png"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="home#skills">Curriculum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="home#benefits">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="home#story">Our Story</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="home#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
