@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.curriculum-wrapper {
  padding-top: 104px;
}

.label-name {
  font-size: 18px;
  font-weight: 700;
  color: #008083;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.mat-tree-node {
  align-items: baseline;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

/deep/ #mainNav {
  background-color: #212529 !important;
}

.coming-soon {
  font-size: 14px;
  font-weight: 700;
}
